{% extends 'base_generic.html' %}

{% block content %}
        <!-- Navigation-->
        <!-- Masthead-->
        <header class="masthead">
            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-10 align-self-end">
                        <h1 class="text-uppercase text-white font-weight-bold">Du gras, oui, mais de qualité !</h1>
                        <h2>Trouvez un produit de substitution pour ce que vous consommez tous les jours.</h2>
                        <hr class="divider my-4" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                    <div class="mt-2">
                      {% include 'food/search_form.html' %}
                    </div>
                  </div>
              </div>
            </div>
        </header>
        <!-- About-->
        <section class="page-section bg-gradient-biscuit" id="about">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h2 class="text-white mt-0">Colette & Remi</h2>
                        <hr class="divider light my-4" />
                        <div class="card">
                          <div class="card-body">
                            <p>Pur Beurre est l'initiative de deux amoureux de la gastronomie française, Colette Tatou et Rémy,
                              que vous avez déjà certainement rencontrés dans notre excellent restaurant Ratatouille.
                            </p>
                          </div>
                        </div>
                            <blockquote>
                              <p class="text-white">
                                <b>Colette Tatou : <i>"Nous aimons tous manger, surtout en France ! Personnellement, une baguette fraîche, du bon fromage de chèvre et un bon vin rouge me suffisent amplement.
                                Comme tout le monde, je fais mes courses au supermarché. Mais petit à petit je me suis rendue compte, surtout lorsque nous avons ouvert le restaurant,
                                 que je pouvais remplacer les produits aseptisés que j'avais l'habitude d'acheter par de bons produits du terroir Et souvent pour le même prix !"</i></b>
                              </p>
                            </blockquote>
                            <blockquote>
                              <p class="text-white">
                                  <b>Remy : <i> "Pour ma part je me rendais déjà dans bien des magasins car j'aime beaucoup me balader, surtout dans les caves et les cuisines.
                                  Je connaissais par coeur le contenu des boutiques bio (dont je raffole) ainsi que les ingrédients de tous les aliments vendus.
                                  Lorsque Colette m'a demandé si elle pouvait remplacer son Nutella matinal par un aliment plus sain, je savais tout de suite où le trouver.
                                  L'idée de Pur Beurre était née !"</i></b>
                                </p>
                            </blockquote>
                    </div>
                </div>
            </div>

            <div class="container">
              <div class="row justify-content-center">
                <div class="col-md-6">
                  <div class="">
                    <img src="../../static/media/colette-tatou-full.png" alt="">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="">
                    <img src="../../static/media/ratatouille.png" class="" alt="">
                  </div>
                </div>
              </div>
            </div>

        </section>
        <!-- Contact-->
        <section class="page-section" id="contact">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h2 class="mt-0">Contactez nous!</h2>
                        <hr class="divider my-4" />
                        <p class="text-muted mb-5">Vous voulez apporter votre experience ou vos compétences au projet? Nous sommes à votre écoute.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
                        <i class="fa fa-phone fa-3x mb-3 text-muted"></i>
                        <div>+1 (555) 123-4567</div>
                    </div>
                    <div class="col-lg-4 mr-auto text-center">
                        <i class="fa fa-envelope fa-3x mb-3 text-muted"></i>
                        <!-- Make sure to change the email address in BOTH the anchor text and the link target below!-->
                        <a class="d-block" href="mailto:contact@yourwebsite.com">contact@coletteetremy.com</a>
                    </div>
                </div>
            </div>
        </section>


{% endblock %}
