{% extends 'base_generic.html' %}

{% block content %}
<style>
    header.masthead.show {
      background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("{{ product.image }}");
    }
</style>
<header class="masthead product show">
	<div class="container h-100">
			<div class="row h-100 align-items-center justify-content-center text-center">
          <div class="card">
            <div class="card-body">
              <h4>{{ product.name }}</h4>
            </div>
          </div>
				</div>
		</div>
</header>

<div class="bg-gradient-biscuit">
	<div class="container">
      <div class="row">
        <div class="col-md-6 mt-4">
          <div class="card">
            <div class="card-body">
              <strong>NUTRIGRADE</strong>
            </div>
          </div>
        </div>
        <div class="col-md-6 mt-4">
          <div class="card">
            <div class="card-body">
                  Repères nutritionnels pour 100g.
            </div>
          </div>
        </div>
		</div>
    <div class="row">
      <div class="col-md-6 mt-5 align-items-center justify-content-center text-center mb-5">
          <img src="../../static/media/nutriscore_{{product.nutriscore_grade}}.png" style="width: 19.2rem; max-height:10.4rem;" alt="">
      </div>
      <div class="col-md-6 mt-5 align-items-center justify-content-center text-center mb-5">
        <a href="{% url 'save_product' food_id=product.id %}" class="btn btn-moule"><i class="fa fa-floppy-o" aria-hidden="true"></i>  Sauvegarder</a>
      </div>
  </div>
</div>


{% endblock %}
