.card-img-top {
    width: 100%;
    height: 10vw;
    object-fit: cover;
}

.bg-rooibos {
	background-color: #c45525;
}

.bg-biscuit {
	background-color: #e8a75d;
}

.text-white {
	color: white;
	font-weight: 800px;
}

.portrait-img {
  width: 100%;
  max-width: 500px;
}

blockquote {
  background: transparent;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

.notify-badge{
    position: absolute;
    right:-20px;
    top:-20px;
    background:red;
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    color:white;
    padding:5px 10px;
    font-size:20px;
}
