<!DOCTYPE html>
<html>
<head>
	<title>Django app</title>

	<link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Scope+One" rel="stylesheet" type="text/css">
	
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'food/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
	    <a class="navbar-brand" href="/">Hidden brand</a>
	    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
	      <li class="nav-item active">
	        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#">Link</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
	      </li>
	    </ul>
	    <form class="form-inline my-2 my-lg-0">
	       {% if user.is_authenticated %}
	      	 <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">{{ user.get_username }}</a>
		     <a class="nav-link" href="{% url 'logout'%}?next={{request.path}}">Logout</a> 
		   {% else %}
		     <a class="nav-link" href="{% url 'login'%}?next={{request.path}}">Login</a>
		     <a class="nav-link" href="{% url 'signup'%}?next={{request.path}}">SignUp</a>   
		   {% endif %} 
	    </form>
	  </div>
	</nav>

	{% block content %}
	{% endblock %}

	<script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
</body>
</html>