<!DOCTYPE html>
<html>
	{% load static %}
	{% include "head.html" %}
<body>
	<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
            <div class="container">
                <a id="home_btn" class="navbar-brand js-scroll-trigger" href="/">
									<img src="../../static/media/logo_pur_beurre.png" width="30" height="30" alt="">
									Pur beurre
								</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto my-2 my-lg-0">
											{% if user.is_authenticated %}
												<li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'profile' %}">{{ user.get_username }}</a></li>
												<li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'saved_food'%}"><img src="../../static/media/carrot.png"/></a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'logout'%}?next={{request.path}}"><i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
												{% else %}
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'login'%}?next={{request.path}}">Login</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'signup'%}?next={{request.path}}">SignUp</a></li>
												{% endif %}
                    </ul>
                </div>
            </div>
        </nav>

	{% block content %}
	{% endblock %}


	<!-- Footer-->
	<footer class="bg-light py-5">
			<div class="container">
				<div class="small text-center text-muted">Copyright © 2020 - Start Bootstrap</div>
				<div class="text-center text-muted">
					<a href="/#contact">Contact</a> |
					<a href="{% url 'mentions'%}">Mentions légales</a>
				</div>
			</div>
	</footer>
	<!-- Bootstrap core JS-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
	<!-- Third party plugin JS-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>

	<script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
</body>
</html>
